<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LandConquest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="user-pass"  connectionString="RGF0YSBTb3VyY2UrQUQwLURFU0tUT1AtQ1VIRkpLNCtBRnctU1FMRVhQUkVTUytBRHMtSW5pdGlhbCBDYXRhbG9nK0FEMC1MYW5kQ29ucXVlc3REQitBRHMtSW50ZWdyYXRlZCBTZWN1cml0eStBRDAtVHJ1ZStBRHMtUG9vbGluZytBRDAtRmFsc2U=" providerName="System.Data.SqlClient" />
    <add name="greendend1" connectionString="RGF0YSBTb3VyY2UrQUQwLURFU0tUT1AtM1MzOVFQTytBRnctU1FMRVhQUkVTUytBRHMtSW5pdGlhbCBDYXRhbG9nK0FEMC1MYW5kQ29ucXVlc3REQitBRHMtSW50ZWdyYXRlZCBTZWN1cml0eStBRDAtVHJ1ZStBRHMtUG9vbGluZytBRDAtRmFsc2U=" providerName="System.Data.SqlClient" />
    <add name="greendend2" connectionString="RGF0YSBTb3VyY2UrQUQwLVNNQS1OQitBRnctU1FMRVhQUkVTUytBRHMtSW5pdGlhbCBDYXRhbG9nK0FEMC1MYW5kQ29ucXVlc3REQitBRHMtSW50ZWdyYXRlZCBTZWN1cml0eStBRDAtVHJ1ZStBRHMtUG9vbGluZytBRDAtRmFsc2U=" providerName="System.Data.SqlClient" />
    <add name="glandeil"   connectionString="RGF0YSBTb3VyY2UrQUQwLURFU0tUT1AtUDE5QkFUVitBRnctU1FMRVhQUkVTUytBRHMtSW5pdGlhbCBDYXRhbG9nK0FEMC1MYW5kQ29ucXVlc3REQitBRHMtSW50ZWdyYXRlZCBTZWN1cml0eStBRDAtVHJ1ZStBRHMtUG9vbGluZytBRDAtRmFsc2U=" providerName="System.Data.SqlClient" />
    <add name="online" connectionString="d29ya3N0YXRpb24gaWQrQUQwLUxhbmRDb25xdWVzdDEubXNzcWwuc29tZWUuY29tK0FEcy1wYWNrZXQgc2l6ZStBRDAtNDA5NitBRHMtdXNlciBpZCtBRDAtTGFuZENvbnF1ZXN0K0FGOC1TUUxMb2dpbitBRjgtMStBRHMtcHdkK0FEMC0zeGxvZmRld2JqK0FEcy1kYXRhIHNvdXJjZStBRDAtTGFuZENvbnF1ZXN0MS5tc3NxbC5zb21lZS5jb20rQURzLXBlcnNpc3Qgc2VjdXJpdHkgaW5mbytBRDAtRmFsc2UrQURzLWluaXRpYWwgY2F0YWxvZytBRDAtTGFuZENvbnF1ZXN0MQ==" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <LandConquest.Properties.Settings>
      <setting name="UserLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value />
      </setting>
    </LandConquest.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="yd" value="QWdBQUFBQk9kN2UrQUY4LUFBYlE5N2RPeC1yZXdrUEpwblhsaXc3bG1KOA==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>