<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignColors" version="1.2.6" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.1.3" targetFramework="net472" />
  <package id="Microsoft.Toolkit.UI.XamlHost" version="6.1.1" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls" version="6.1.1" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Wpf.UI.XamlHost" version="6.1.1" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net472" />
  <package id="NTiled" version="0.1.7" targetFramework="net472" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net472" />
  <package id="SqlTableDependency" version="8.5.8" targetFramework="net472" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net472" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
</packages>