<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KSecure" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Syroot.Windows.IO.KnownFolders" version="1.2.3" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="YandexDiskNET" version="1.0.7" targetFramework="net472" />
</packages>